/* -------------------------------480------------------------------- */
@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .mob-tel-item {
    font-size: 36px;
    line-height: 1.11;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    font-size: 36px;
    max-width: 320px;
    margin-bottom: 72px;
  }
  .subscribe-mail {
    width: 398px;
  }
  .modal {
    width: 392px;
  }
  .modal-title {
    font-size: 16px;
  }
  .input-text {
    font-size: 12px;
  }
  .check-text {
    font-size: 12px;
  }
}
/* -------------------------------768------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .header-container {
    padding-bottom: 12px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-list .link {
    padding-top: 31px;
    padding-bottom: 25px;
  }
  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-active-color);
    border-radius: 2px;
  }
  .header-link:hover,
  .header-link:focus,
  .header-link.current {
    color: var(--accent-active-color);
  }
  .adress {
    margin-left: auto;
  }
  .adress-list {
    display: block;
  }
  .adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-link:hover,
  .adress-link:focus {
    color: var(--accent-active-color);
  }
  .menu-open {
    display: none;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(var(--l-gradient)),
      url(../images/herobg-tab1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--l-gradient)),
        url(../images/herobg-tab2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 40px;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: start;
  }
  .team > .container {
    max-width: 582px;
  }
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .customers > .container {
    max-width: 582px;
  }
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer > .container {
    max-width: 552px;
  }
  .footer-list {
    justify-content: start;
    gap: 72px 24px;
  }
  .first-item {
    align-items: start;
  }
  .second-item {
    align-items: start;
  }
  .third-item {
    align-items: start;
  }
  .subscribe-mail {
    width: 264px;
  }
  .subscr-button {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .modal {
    width: 408px;
  }
}
/* -------------------------------1200------------------------------- */
@media screen and (min-width: 1200px) {
  body {
    padding-top: 76px;
  }
  .container {
    max-width: 1158px;
  }
  .header {
    height: 76px;
  }
  .header-container {
    align-items: center;
    padding-bottom: 24px;
  }
  .header-logo {
    line-height: 1.33;
    margin-right: 76px;
  }
  .adress-list {
    display: flex;
    gap: 40px;
  }
  .header-list .link {
    padding-bottom: 31px;
  }
  .adress-link {
    font-size: 16px;
    line-height: var(--typical-lh);
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(var(--l-gradient)),
      url(../images/herobg1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--l-gradient)),
        url(../images/herobg2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .thumb {
    background-color: var(--footer-logo-color);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }
  .doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .doing-list {
    display: flex;
    gap: 24px;
  }
  .doing-item {
    width: calc((100% - 48px) / 3);
  }
  .team > .container {
    max-width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers > .container {
    max-width: 1158px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .footer > .container {
    max-width: 1158px;
  }
  .footer-text {
    width: 264px;
  }
  .second-item {
    flex: none;
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-list {
    gap: 0;
  }
}
