/* -------------------------------*****------------------------------- 
header
+hero
+features
+doing
+team
+customers
+footer
+backdrop
mobile menu зверстати
+зображення 2х
-------------------------------*****------------------------------- */
/* -------------------------------480------------------------------- */
@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    font-size: 36px;
    max-width: 320px;
    margin-bottom: 72px;
  }
  .subscribe-mail {
    width: 398px;
  }
  .modal {
    width: 392px;
  }
  .modal-title {
    font-size: 16px;
  }
  .input-text {
    font-size: 12px;
  }
  .check-text {
    font-size: 12px;
  }
}
/* -------------------------------768------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(var(--l-gradient)),
      url(../images/herobg-tab1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--l-gradient)),
        url(../images/herobg-tab2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 40px;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: start;
  }
  .team > .container {
    max-width: 582px;
  }
  .team {
    padding-bottom: 104px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .customers > .container {
    max-width: 582px;
  }
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer > .container {
    max-width: 552px;
  }
  .footer-list {
    justify-content: start;
    gap: 72px 24px;
  }
  .first-item {
    align-items: start;
  }
  .second-item {
    align-items: start;
  }
  .third-item {
    align-items: start;
  }
  .subscribe-mail {
    width: 264px;
  }
  .subscr-button {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .modal {
    width: 408px;
  }
}
/* -------------------------------1200------------------------------- */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(var(--l-gradient)),
      url(../images/herobg1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--l-gradient)),
        url(../images/herobg2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .thumb {
    background-color: var(--footer-logo-color);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 8px;
  }
  .doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .doing-list {
    display: flex;
    gap: 24px;
  }
  .doing-item {
    width: calc((100% - 48px) / 3);
  }
  .team > .container {
    max-width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .customers > .container {
    max-width: 1158px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .footer > .container {
    max-width: 1158px;
  }
  .footer-text {
    width: 264px;
  }
  .second-item {
    flex: none;
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-list {
    gap: 0;
  }
}
