:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --main-backgraund-color: #ffffff;
  --accent-active-color: #404bbf;
  --accent-passive-color: #4d5ae5;
  --footer-text-color: #e7e9fc;
  --footer-logo-color: #f4f4fd;
  --typical-lh: 1.5;
  --l-gradient: rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7);
  --customers-color: #8e8f99;
  --modal-backgraund-color: #fcfcfc;
  --footer-icon-active: #31d0aa;
  --modal-check-color: #757575;
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-backgraund-color);
  color: var(--main-text-color);
  padding-top: 70px;
}
.no-scroll {
  overflow: hidden;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.text {
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/*----------------------------Header----------------------------*/
.header {
  background-color: var(--main-backgraund-color);
  border-bottom: 1px solid var(--footer-text-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header_navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.header-web {
  color: var(--accent-passive-color);
}
.header-list {
  display: none;
}
.adress-list {
  display: none;
}
.menu-open {
  margin-left: auto;
  stroke: var(--main-text-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--main-backgraund-color);
  padding-top: 24px;
  padding-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.mob-close {
  width: 24px;
  height: 24px;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 32px;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-close:hover,
.mob-close:focus {
  background-color: var(--accent-active-color);
  fill: var(--main-backgraund-color);
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}
.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--accent-active-color);
}
.mob-menu-adress-list {
  margin-bottom: 48px;
}
.mob-tel-item {
  margin-bottom: 40px;
}
.mob-tel-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-passive-color);
  display: block;
}
.mob-adress-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.mob-menu-soc-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.mob-menu-soc-item {
  width: 40px;
  height: 40px;
}
.mob-menu-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-passive-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-soc-icon {
  fill: var(--footer-logo-color);
}
.mob-menu-soc-link:hover,
.mob-menu-soc-link:focus {
  background-color: var(--accent-active-color);
}
/*----------------------------Hero----------------------------*/
.hero {
  background-color: var(--main-text-color);
  background-image: linear-gradient(var(--l-gradient)),
    url(../images/herobg-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--l-gradient)),
      url(../images/herobg-mob2x.jpg);
  }
}
.hero-title {
  font-size: 28px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-backgraund-color);
  max-width: 260px;
  margin: auto;
  margin-bottom: 72px;
}
.hero-button {
  margin: 0 auto;
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
  background-color: var(--accent-passive-color);
  color: var(--main-backgraund-color);
  cursor: pointer;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-active-color);
}
/*----------------------------Features----------------------------*/
.features {
  padding-bottom: 96px;
  padding-top: 96px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.features-item {
  width: 100%;
  display: block;
}
.thumb {
  display: none;
}
.features-subtitle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.features-text {
  color: var(--second-text-color);
}
/*----------------------------Doing----------------------------*/
.doing {
  display: none;
}
/*----------------------------Team----------------------------*/
.team {
  background-color: var(--footer-logo-color);
  padding-top: 96px;
  padding-bottom: 128px;
}
.team > .container {
  max-width: 294px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  background-color: var(--main-backgraund-color);
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-cont {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}
.team-text {
  margin-top: 8px;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-passive-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: var(--footer-logo-color);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-active-color);
}
/*----------------------------Customers----------------------------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: var(--customers-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
  border-color: var(--accent-active-color);
}
.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--accent-active-color);
}
/*----------------------------Footer----------------------------*/
.footer {
  background: var(--main-text-color);
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 100%;
}
.footer-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.footer-logo {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.footer-web {
  color: var(--accent-passive-color);
}
.footer-text {
  font-weight: 400;
  color: var(--footer-text-color);
  width: 268px;
  margin-top: 16px;
}

.cm-title {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-backgraund-color);
  margin-bottom: 16px;
}
.cm-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cm-item {
  width: 40px;
  height: 40px;
}
.cm-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cm-link:hover,
.cm-link:focus {
  background-color: var(--footer-icon-active);
}
.cm-icon {
  fill: var(--footer-logo-color);
}
.first-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 453px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-backgraund-color);
  display: block;
  margin-bottom: 16px;
}
.subscribe-mail {
  width: 290px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  color: var(--main-backgraund-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-mail:focus {
  border-color: var(--accent-passive-color);
}
.subscribe-mail::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.subscr-button {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.fut-button {
  font-family: inherit;
  width: 165px;
  height: 40px;
  background-color: var(--accent-passive-color);
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-backgraund-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fut-button:focus,
.fut-button:hover {
  background-color: var(--accent-active-color);
}
.fut-icon {
  fill: var(--main-backgraund-color);
  margin-left: 16px;
}
/*----------------------------Portfolio----------------------------*/
.portfolio {
  background-color: var(--main-backgraund-color);
  padding-top: 96px;
  padding-bottom: 120px;
}
.works-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.works-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
  color: var(--accent-passive-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--footer-text-color);
  background-color: var(--footer-logo-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works-button:hover,
.works-button:focus {
  background-color: var(--accent-active-color);
  color: var(--main-backgraund-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
.offers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.offers-item {
  background-color: var(--main-backgraund-color);
  width: calc((100% - 48px) / 3);
}
.offers-link {
  width: 100%;
  height: 100%;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offers-link:hover,
.offers-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*----------------------------Owerlay----------------------------*/
.offers-ol {
  position: relative;
  overflow: hidden;
}
.offers-item:hover .owerlay-text {
  transform: translatey(0);
}
.owerlay-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--footer-logo-color);
  background-color: var(--accent-passive-color);
  height: 100%;
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offers-choice {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 1px solid var(--footer-text-color);
  border-right: 1px solid var(--footer-text-color);
  border-bottom: 1px solid var(--footer-text-color);
}
.offers-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.offers-text {
  margin-top: 8px;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
}
/*----------------------------Backdrop----------------------------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  width: 290px;
  background-color: var(--modal-backgraund-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  width: 24px;
  height: 24px;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--accent-active-color);
  fill: var(--main-backgraund-color);
}
.modal-title {
  font-weight: 500;
  font-size: 11px;
  line-height: var(--typical-lh);
  color: var(--main-text-color);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: var(--main-backgraund-color);
  padding-left: 38px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-passive-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-active-color);
}
.input-text {
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
  margin-bottom: 4px;
  display: inline-block;
}
.input-wrap {
  position: relative;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-textarea {
  margin-bottom: 16px;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  padding: 8px 16px;
  background-color: var(--main-backgraund-color);
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: var(--accent-passive-color);
}
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
/* -----------------Checkbox------------------------ */
.check-text {
  font-size: 8px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-check-color);
  display: flex;
  align-items: center;
  transition-property: fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-active-color);
  border: none;
  fill: var(--footer-logo-color);
}
.active-text {
  color: var(--accent-passive-color);
  text-decoration: underline;
}
/* -----------------Modal button------------------------ */
.mod-button {
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: var(--typical-lh);
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  background-color: var(--accent-passive-color);
  color: var(--main-backgraund-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-button:focus,
.mod-button:hover {
  background-color: var(--accent-active-color);
}
